<html>
  <head>
    <title>Joblify - Fullstack Lab</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1><img src="images/logo.png" alt="Logo do Joblify" /></h1>

    <p>We are joblify! Join us!</p>
    <h2>Fullstack Developer (Remote)</h2>
    <div>
      <h3>Engineering team:</h3>
      <ul>
        <li><a href="vaga">Fullstack Developer (Remote)</a></li>
      </ul>
    </div>
    <div>
      <h3>Marketing team:</h3>
      <ul>
        <li>Digital marketing (Remote)</li>
      </ul>
    </div>
  </body>
</html>
