body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  background-color: #ccc;
  padding: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 2.5rem;
}

li {
  margin-left: 0;
}

label {
  display: block;
  margin: 1.2rem 0 0.2rem 0;
}

input,
select,
button {
  display: block;
  font-size: 1.4rem;
  padding: 0.4rem;
  width: 540px;
  border-radius: 4px;
}

textarea {
  padding: 0.2rem;
  height: 200px;
  width: 540px;
}
